:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cdcdcd;
}

.form-container {
  width: 100%;
  max-width: 480px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 80px;
  background-color: #fff;
  border-radius: 16px;

  .input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    label { width: 100% }

    input {
      width: 100%;
      height: 48px;
      border-radius: 48px;
      padding-left: 16px;
    }
  }

  button {
    width: 100%;
    height: 48px;
    border-radius: 48px;
    margin-top: 8px;
  }
}
