:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121214;
}

.form-container {
  width: 100%;
  max-width: 480px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  background-color: rgb(32, 32, 36);
  border-radius: 16px;
  border-bottom: solid 1px #1c2a24;

  .input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    label { width: 100% }

    input {
      width: 100%;
      height: 48px;
      border-radius: 48px;
      padding-left: 16px;
      border: 1px solid #8257e5;
      background-color: rgb(18, 18, 20);
      color: #fff;
    }
  }

  button {
    width: 100%;
    height: 48px;
    border-radius: 48px;
    margin-top: 8px;
    border: none;
    background-color: #8257e5;
    color: #fff;
  }
}
