/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Imprima', sans-serif;
  letter-spacing: .07rem;
}

body {
  background-color: #121214;
  color: #fff;
}

a { color: #04d361 }
